<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/header.ejs")%>
        <div class="new-task">
            <h2>Create a New Task</h2>
            <form action="/project/<%=task.id%>?_method=PUT" method="POST">
            <fieldset class="task-info">
              <legend>Task Template</legend>
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="<%=task.title%>"/> </br>
                <label for="owner">Task Owner</label>
                <input type="text" name="owner" placeholder="<%=task.owner%>"></br>
                <label for="progress">Current Progress:</label>
                <input list="progresses" name="progress" id="progress">
                <datalist id="progresses" placeholder="<%=task.progres%>"></br>
                  <option value="Not Started">
                  <option value="In Progress">
                  <option value="Off Track">
                  <option value="On hold">
                  <option value="Completed">
                  <option value="Needs Revision"></br>
                </datalist></br>
                Blocker: <input type="checkbox" name="blocker" /><br />
                <label for="update">Updates</label>
                <textarea name="update"placeholder="<%=task.update%>"></textarea></br>
            </fieldset>
            <input type="submit" value="Update Task" class="btn">
          </form>
        </div>
</body>
</html>