<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/header.ejs")%>
    <table>
        <tr>
            <th>Task</th>
            <th>Task Owner</th>
            <th>Progress</th>
            <th>Blocker</th>
            <th></th>
        </tr>
        <% for(let i=0; i < tasks.length; i++){ %>
            <tr>

                <td><a href="/project/<%=tasks[i].id; %>">
                        <%=tasks[i].title; %>
                    </a></td>
                <td>
                    <%=tasks[i].owner; %>
                </td>
                <td>
                    <%=tasks[i].progress; %>
                </td>
                <td>
                    <% if(tasks[i].blocker===true){ %>
                        &#9940;
                        <% } else { %>
                            -
                            <% } %>
                <td>
                    <form action="/project/<%=tasks[i].id%>/edit">
                        <button type="Edit" class="btn"> <span class="material-symbols-rounded">
                            edit_note
                            </span> </button>
                    </form>
                </td>

            </tr>

            <% } %>
    </table>
</body>

</html>