<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/header.ejs")%>
    <table>
        <tr>
            <th>Task</th>
            <th>Task Lead</th>
            <th>Progress</th>
            <th>Blocked?</th>
            <th></th>
        </tr>
        <% for(let i=0; i < tasks.length; i++){ %>
            <tr>

                <td><a href="/project/<%=tasks[i].id; %>">
                        <%=tasks[i].title; %>
                    </a></td>
                <td>
                    <%=tasks[i].owner; %>
                </td>
                <td class="progress" style="<% if(tasks[i].progress === 'Completed'){ %>
                    background-color: rgba(88, 191, 85);
                    border-radius: 36px;
                <% } if(tasks[i].progress === 'Off Track'){ %>
                    background-color: red;
                    border-radius: 36px;
                <% } if(tasks[i].progress === 'In Progress'){ %>
                    background-color: aqua;
                    border-radius: 36px;
                <% }if(tasks[i].progress === 'Not Started'){ %>
                    background-color: magenta;
                    border-radius: 36px;
                <% }if(tasks[i].progress === 'On hold'){ %>
                    background-color:rgba(255, 99, 12);
                    border-radius: 36px;
                <% }if(tasks[i].progress === 'Needs Revision'){ %>
                    background-color: rgba(72, 27, 255);
                    border-radius: 36px;
                <% }%>">
                    <%= tasks[i].progress %>
                </td>
                <td>
                    <% if(tasks[i].blocker===true){ %>
                        &#9940;
                        <% } else { %>
                            -
                            <% } %>
                        </td>
                <td>
                    <form action="/project/<%=tasks[i].id%>/edit">
                        <button type="Edit" class="btn"> <span class="material-symbols-rounded">
                            edit_note
                            </span> </button>
                    </form>
                </td>

            </tr>

            <% } %>
    </table>
</body>

</html>