<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Information</title>
</head>

<body>
    <h1>Relay</h1>

    <div class="new-task">
        <h2>Task Information</h2>
        <ul>
            <li>Title: <%=task.title; %>
            </li>
            <li>Task Owner: <%=task.owner; %>.
            </li>
            <li> Task Progress: <%=task.progress; %>.
            </li>
            <li>
                Blockers: <% if(task.blocker===true){ %>
                    &#9940;
                    <% } else { %>
                        -
                        <% } %>
            <li>
                <form action="/project/<%=task.id%>/edit">
                    <button type="Edit">Edit</button>
                </form>
            </li>
            <li>
                <form action="/project/<%=task.id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </li>
        </ul>
</body>

</html>