<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/header.ejs")%>
    <table class="show-table">
        <tr>
            <th>Task: </th>
            <th class="show-header">
                <%=task.title; %>

            </th>

        </tr>
        <tr>
            <td>
                <form class="edit-button" action="/project/<%=task.id%>/edit">
                    <button type="Edit" class="btn"><span class="material-symbols-rounded">
                            edit_note
                        </span></button>
                </form>
                <form class="delete-button" action="/project/<%=task.id%>?_method=DELETE" method="POST">
                    <button type="delete" class="btn"><span class="material-symbols-rounded">
                            delete_forever
                        </span></button>
                </form>
            </td>
            <td class="task-info">
                <ul>
                    <li>Task Owner: <%=task.owner; %>.</li>

                    <li>Task Progress: <%=task.progress; %>.</li>


                    <li>Blockers: <% if(task.blocker===true){ %>
                            &#9940;
                            <% } else { %>
                                -
                                <% } %>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    </body>

</html>